[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_cors = "*"
python-dotenv = "*"
requests = "*"
google-api-python-client = "*"
langchain = "*"
unstructured = "*"
tabulate = "*"
pdf2image = "*"
faiss-cpu = "*"
gunicorn = "20.1.0"

[dev-packages]

[requires]
python_version = "3.9"
